# Folder dependencies (sangat berat, jangan diupload)
node_modules/

# File konfigurasi rahasia (nanti untuk database)
.env

# Pengaturan editor (personal)
.vscode/

# File sampah macOS
.DS_Store

# Folder logs
npm-debug.log*