/* admin.css */

/* urutan control */
.leaflet-control-zoom { order: 1; }
.leaflet-control-geocoder { order: 2; }
.leaflet-pm-toolbar { order: 3; }

/* toolbar geoman tetap rapi */
.leaflet-pm-toolbar {
    background: #fff;
    border-radius: 8px;
}

/* Admin-specific legend position */
.legend {
    position: fixed;
    bottom: 10px;
    right: 10px;
    left: auto;
    z-index: 1100;
}
